@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+SK:wght@100..400&display=swap');

body{
    font-family: playwrite SK, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 0%;
}

.container{
    max-width: 800px;
    margin: 0% auto;
    padding: 20px;
    background: linear-gradient(rgb(189, 189, 255),rgb(67, 67, 249))
}

.titulo{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 10px 10px rgb(75, 75, 247);
    border-radius: 30px;    

}


.banner{
    text-align: center;
    margin-bottom: 30px;
}

.banner img{
    max-width:100% ;
    border-radius: 30px;
    box-shadow: 0 0 15px blue;

}

.atores{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.ator{
    text-align: center;
}

.ator img{
    width: 160px;
    height: 230px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 0 10px rgb(218, 218, 255);
}

.site{
    align-items: center;
    font-size: 1.2em;
    

}

.site img{
    width: 100px;
    height: auto;
    margin-right: 100px;
}

.avaliacoes{
    display: flex;
    justify-content: space-around;
}
